<script type="text/x-handlebars" data-template-name="components/application-chooser-widget">
{{#link-to "applications" title="List of Applications available to you"}}
	<i class="fa fa-rocket"></i>
	<span>Applications</span>
{{/link-to}}
</script>
