<script type="text/x-handlebars" data-template-name="components/profile-change-password">
<div class="box box-primary collapsed-box">
<div class="box-header with-border">
	<h3 class="box-title">Change Password</h3>
	<div class="box-tools pull-right">
		{{#if shouldEnableCancel}}
		<button id="button-cancel" class="btn btn-flat btn-warning btn-sm" {{action "controller-action" "cancel" bubbles=false}}>
			<i class="fa fa-undo" />
			<span style="font-size:12px;">Cancel</span>
		</button>
		{{/if}}

		{{#if shouldEnableSave}}
		<button class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "save" bubbles=false}}>
			<i class="fa fa-save" />
			<span style="font-size:12px;">Save</span>
		</button>
		{{/if}}

		<button class="btn btn-flat btn-default btn-sm" style="border-radius:50%;" data-widget="collapse">
			<i class="fa fa-plus" />
		</button>
	</div>
</div>
<div class="box-body row" style="display:none;">
	<div class="col-xs-4">
		<div class="form-group">
			<label for="profile-change-password-input-current-password">Current Password</label>
			{{input type="password" id="profile-change-password-input-current-password" class="form-control" value=currentPassword placeholder="Current Password"}}
		</div>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
			<label for="profile-change-password-input-new-password-1">New Password</label>
			{{input type="password" id="profile-change-password-input-new-password-1" class="form-control" value=newPassword1 placeholder="Enter New Password"}}
		</div>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
			<label for="profile-change-password-input-new-password-2">New Password</label>
			{{input type="password" id="profile-change-password-input-new-password-2" class="form-control" value=newPassword2 placeholder="Re-enter New Password"}}
		</div>
	</div>
</div>
</div>
</script>
