<script type="text/x-handlebars" data-template-name="components/profile-widget">
{{#link-to "profile" title="Profile"}}
	<img src="{{imageSource}}" style="max-width:20px; max-height:18px;">
	<span>{{profile.fullName}}</span>
{{/link-to}}
</script>
