<script type="text/x-handlebars" data-template-name="components/profile-system-preferences">
<div class="box">
<div class="box-header with-border">
	<h3 class="box-title">System Preferences</h3>
</div>
<div class="box-body row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="profile-system-preferences-input-home-page">Home Page</label>
			{{input type="text" id="profile-system-preferences-input-home-page" class="form-control" placeholder="TBD: Home Page" readonly="readonly"}}
		</div>
		<div class="form-group">
			<label for="profile-system-preferences-input-language">Language</label>
			{{input type="text" id="profile-system-preferences-input-language" class="form-control" placeholder="TBD: Language" readonly="readonly"}}
		</div>
		<div class="form-group">
			<label for="profile-system-preferences-input-etc">Etc.</label>
			{{input type="text" id="profile-system-preferences-input-etc" class="form-control" placeholder="TBD: Et Cetera" readonly="readonly"}}
		</div>
	</div>
</div>
</div>
</script>
