<div type="text/x-handlebars" data-template-name="main-screen">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-1 col-xs-0">
			&nbsp;
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
			<div class="twyr-design ember-type ember-component" data-server-component="Profiles" data-ember-component="profile-change-password" data-ember-template="profile-change-password" data-ember-parameters="{ 'controller-action': { 'value': 'controller-action', 'type': 'string' } }">
			</div>
			<div class="twyr-design ember-type ember-component" data-server-component="Profiles" data-ember-component="profile-basic-information" data-ember-template="profile-basic-information" data-ember-parameters="{ 'controller-action': { 'value': 'controller-action', 'type': 'string' } }">
			</div>
			<div class="twyr-design ember-type ember-component" data-server-component="Profiles" data-ember-component="profile-contacts" data-ember-template="profile-contacts" data-ember-parameters="{ 'controller-action': { 'value': 'controller-action', 'type': 'string' } }">
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-1 col-xs-0">
			&nbsp;
		</div>
	</div>
</div>
