<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta Stuff for the Browser to render correctly -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title: Will change based on the actual slogan or whatever -->
<title>Twy&apos;r Framework</title>

<!-- HTML% Normalize CSS Styles -->
<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet">

<!-- Bootstrap CSS Styles -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Awesome, for the Glyphs -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Google Fonts for the text on the Email -->
<link href="//fonts.googleapis.com/css?family=Keania+One" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<!-- Base CSS Styles -->
<link href="/css/notification-styles.css" rel="stylesheet">
</head>
<body>
<header>
	<nav class="navbar navbar-static-top" role="navigation" style="margin:0px; padding:0px;">
		<a class="logo" href="#">Twy&apos;r</a>
		<div class="navbar-right"></div>
	</nav>
</header>
<div class="container-fluid">
	<div id="main_row" class="row" style="padding:15px 0px;">
		<div id="main" class="col-md-12">
			<table class="table table-bordered" style="margin:0px">
			<tbody>
				<tr>
					<td style="width:100%; vertical-align:middle;">
						Welcome to Twy&apos;r, <%= username %>. Your password is: <%= password %>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
<footer>
	<div class="copyright">
		Copyright&copy; 2014 <a href="http://twyr.github.io">Vish Desai</a>. All rights reserved.
	</div>
</footer>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script type="application/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script type="application/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>

