<div type="text/x-handlebars" data-template-name="main-screen">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">
			&nbsp;
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<div class="twyr-design ember-type ember-component" data-server-component="Applications" data-ember-component="application-chooser" data-ember-template="application-chooser" data-ember-parameters="{ 'controller-action': { 'value': 'controller-action', 'type': 'string' } }">
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-0">
			&nbsp;
		</div>
	</div>
</div>
