<script type="text/x-handlebars" data-template-name="components/logout-widget">
<span class="fa fa-sign-out" style="font-size:20px; cursor:pointer; border-left:1px solid #eee; padding:15px;" {{action "controller-action" "doLogout"}} data-toggle="tooltip" title="Logout" data-placement="bottom"></span>
</script>
